/server/target/classes/ru/geekbrains/march/chat/server/Hw8ClientHandler.class
/client/target/classes/ru/geekbrains/march/chat/client/Hw8Controller.class
/client/target/classes/ru/geekbrains/march/chat/client/Hw8Main.class
/server/target/classes/ru/geekbrains/march/chat/server/Hw8Server.class
/server/target/classes/ru/geekbrains/march/chat/server/Hw8ServerApp.class
/client/target/classes/hw8window.fxml
/marchchat.db
/server/src/main/java/ru/geekbrains/march/chat/server/фрагменты.java
/server/src/test/фрагменты.java
/logs/controller.log
/logs/handler.log
/server/target/classes/log4j2.xml
/logs/server01.log
/logs/serverapp.log
/server/target/test-classes/CalcTest.class
/server/target/classes/ru/geekbrains/AntonovDV/java3/lesson6/CalculatorApp.class
/server/target/test-classes/Fragments.class
/server/target/classes/ru/geekbrains/AntonovDV/java3/lesson4/WaitNotifyApp.class
/server/src/test/java/фрагменты.java
/logs/authentificator.log
/logs/clienthandler.log
/logs/main.log
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/AfterSuite.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/BeforeSuite.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/Order.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/Test.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/TestApp$1.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/TestApp.class
/server/target/classes/ru/geekbrains/antonovdv/java3/lesson7/TestClassTmp.class
