/client/target/classes/hw8window.fxml
/marchchat.db
/server/src/main/java/ru/geekbrains/march/chat/server/фрагменты.java
/server/src/test/фрагменты.java
/logs/
/server/target/classes/log4j2.xml
/server/src/test/java/фрагменты.java
/excluded.files/
/.idea/encodings.xml
/фрагменты.java
/описание.txt
*.class
